@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,500;1,600;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

/* HAVBAR */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 1 5px 15px rgba(0, 0, 0, 0.06);

}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px
}

#navbar li,
.logo {
    list-style: none;
    padding: 0 20px;
}

#navbar li a,
.logo a {
    text-decoration: none;
}

#navbar li a:hover {
    color: rgb(95, 95, 95);
}

.logo {
    font-weight: 600;
    font-style: italic;
    font-size: 1.3em;
}

.logo a {
    color: rgb(67, 43, 11);
    font-weight: 600;
}

.logo a:hover {
    color: rgb(95, 95, 95);
}

/* HOME */

.home {
    background-color: #c9cbce;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
}

.textHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-left: 120px;
}

.textHome h1 {
    font-size: 3.3em;
    font-weight: 500;
    font-style: italic;
}

.textHome h2 {
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
}

.textHome h3 {
    font-size: 2em;
    font-style: italic;
}

.textHome span {
    font-weight: 600;
    color: rgb(32, 126, 126);
}

.textHome a {
    background-color: rgba(161, 65, 39, 0.968);
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 18px;
    border-radius: 10px;
    color: #E3E6F3;

}

.textHome .explore-btn {
    margin-top: 20px;
    align-self: center;
}

.textHome a:hover {
    background-color: rgba(184, 95, 71, 0.968);
}

.homeImg img {
    width: 100%;
    height: 90vh;
    transform: rotate(180deg);
    padding-right: 235px;
    filter: grayscale(50%);
}

.reg-nav {
    text-align: center;
    align-self: center;
    background-color: rgba(5, 130, 89, 0.918);
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

}

.reg-nav:hover {
    background-color: rgba(177, 223, 208, 0.918);
    transition: 0.5s ease;
}

.reg-nav a {
    color: white;
    cursor: pointer;
}

.reg-nav a:hover {
    color: black;
}

/* REGISTER */
.register {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    text-align: center;
    align-items: center;
    background-color: rgb(196, 221, 221);

}

.register h1 {
    color: rgb(34, 26, 26);
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 0.6em;
    margin-top: 0.8em;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: white;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;

}

.register .register-form {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    background-color: #c9cbce;
}

.register-form input {
    padding: 15px 35px;
    margin: 0 200px;
    border-radius: 5px;
    border: 1px solid black;


}

.register-form label {
    margin-top: 10px;
    font-size: 20px;
}

.register-form input[type=submit] {
    text-align: center;
    align-self: center;
    margin-bottom: 25px;
    cursor: pointer;
    background-color: rgba(5, 130, 89, 0.918);
    color: white;
}

.register-form input[type=submit]:hover {
    background-color: rgba(177, 223, 208, 0.918);
    color: black;
    transition: 0.5s ease;
}

.register-form .to-btn-reg {
    text-decoration: none;
}

.register-form .to-btn-reg:hover {
    text-decoration: underline;
    color: rgb(141, 22, 22);
    transition: 0.3s ease;
}

/* RECIPIES */

.recipies {
    text-align: center;
    background-color: #c9cbce;
}

.recipies h1 {
    margin-top: 20px;
    font-size: 38px;
    font-weight: 500;
    color: rgb(81, 148, 60);
}

.recipies p {
    font-size: 25px;
    font-weight: 400;
    color: rgb(44, 83, 32);
    margin-bottom: 20px;
}

.recipies .recipie {
    width: 23%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid rgb(122, 119, 119);
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #a4a7ac;
    box-shadow: 1px 1px #888888;
}

.rec-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
}

.recipies .recipie .imgRec img {
    border-radius: 20px;
    display: block;
    width: 100%;
}

.recipie .imgRec {
    margin: 0 auto;
    text-align: center;
    display: flex;
    width: auto;
    height: 200px;
}

.recipie .description h5 {
    font-size: 20px;
    color: rgb(49, 37, 37);
}

.recipie .description a {
    text-decoration: none;
    border: 1px solid black;
    padding: 4px 5px;
    border-radius: 5px;
}

.recipie .description a:hover {
    color: rgb(30, 28, 28);
    background-color: rgb(141, 162, 177);
    box-shadow: 1px 1px #656565;
}
/* CREATE */

.register-form #textarea-description,
#textarea-description-ingredients {
    padding: 10px 20px;
    width: 400px;
    height: 90px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 170px;
}

#create h1 {
    margin-top: 10px;
}
#createRec input[type=text],
#createRec input[type=number],
#createRec input[type=url] {
    height: 30px;
}
#textarea-description-ingredients{
    height: 60px;
}
/* ABOUT-US */

.about-us{
    width: 100%;
    height: 90vh;
    background-color: #c9cbce;
   
}
.about-us h1{
   font-size: 3em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 28px 0;
    text-shadow: 1px 1px rgb(76, 76, 76);
    
}
.about-us .container-about-us{
    display: flex;
    flex-direction: row;
    
}
.container-about-us img{
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    margin-left: 15px;
}
.description-about-us{
    width: 90%;
    margin-left: 20px;
}
.description-about-us h3{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px rgb(76, 76, 76);
    margin-bottom: 20px;
}
.description-about-us p{
    line-height: 30px;
    text-align: justify;
    margin-right: 15px;
}