<section class="register">
    <h1>Register Here</h1>
    <form class="register-form" action="#">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter username">
        <label for="email">Email</label>
        <input type="text" placeholder="Enter your email">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter password">
        <label for="rePassword">Repeat Password</label>
        <input type="password" placeholder="Repeat password">
        <input type="submit" value="Register">
    </form>
</section>