<section class="register" id="create">
    <h1>Add New Recipie</h1>
    <form class="register-form" id="createRec" action="#">
        <label for="name">Recipie Name</label>
        <input type="text" placeholder="Enter recipie name">
        <label for="name">Recipie Photo</label>
        <input type="url" placeholder="Add link to recipie photo">
        <label for="time">Cook time in minutes</label>
        <input type="number" placeholder="How long until cooked">
        <label for="name">Skills Level</label>
        <input type="text" placeholder="Enter skills level">
        <label for="rePassword">Ingredients</label>
        <textarea name="description" id="textarea-description-ingredients" cols="6" rows="5"
            placeholder="What are the ingredients"></textarea>
        <input type="submit" value="Add">
    </form>
</section>