/* HAVBAR */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 1 5px 15px rgba(0, 0, 0, 0.06);

}

#navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px
}

#navbar li,
.logo {
    list-style: none;
    padding: 0 20px;
}

#navbar li a,
.logo a {
    text-decoration: none;
    cursor: pointer;
}

#navbar li a:hover {
    color: rgb(95, 95, 95);
    cursor: pointer;
}

.logo {
    font-weight: 600;
    font-style: italic;
    font-size: 1.3em;
}

.logo a {
    color: rgb(67, 43, 11);
    font-weight: 600;
}

.logo a:hover {
    color: rgb(95, 95, 95);
}
.reg-nav {
    text-align: center;
    align-self: center;
    background-color: rgba(5, 130, 89, 0.918);
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;

}

.reg-nav:hover {
    background-color: rgba(177, 223, 208, 0.918);
    transition: 0.5s ease;
}

.reg-nav a {
    color: white;
    cursor: pointer;
}

.reg-nav a:hover {
    color: black;
}